<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <!-- Форма реєстрації, з методом запиту post (відправка даних на сервер) -->
    <form method="post">
        <!-- Створюємо токен, що підтверджує ориганільність форми, завдяки чому севрер погоджується обробляти запит з форму -->
        {% csrf_token %} 
        <p><input type="text" placeholder= "username" name="username" required></p>
        <p><input type="password" placeholder= "password" name="password" required></p>
        <p><input type="password" placeholder= "confirm password" name="confirm_password" required></p>
        <p><button>send</button></p>
        <p style="color: red;">{{error}}</p>
    </form>
</body>
</html>