<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Створити публікацію</h1>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <!-- Перебираємо усі поля форми -->
        {% for field in form %}
            <!-- Відображаємо поле -->
            <div class="field-container">{{field}}</div>
            <!-- Відображаємо помилки поля (у разі необхідності) -->
            <div class="field-errors">{{field.errors}}</div>
        {% endfor %}
    <p>
        <button>Надіслати</button>
    </p>
    </form>
</body>
</html>